
<h1>Rate my cakes</h1>
<div class="contenedor">
  <div class="col01">
    <section>
      <app-formulario (aFormEventEmitter)="dataFromChildForm($event)"></app-formulario>
    </section>
  </div>
  <div class="col02">
    <section>
        <article *ngFor="let cake of Cakes">
          <app-clasifica [cake]="cake" (aRateEventEmitter)="dataFromChildRate($event)" ></app-clasifica>
        </article>
    </section>
  </div>
</div>
<footer *ngIf="detailId">
  <!-- <p>{{ detailId }}</p> -->
  <app-detail [idCake]="detailId"></app-detail>
</footer>
<router-outlet></router-outlet>
